#name{
height:20px;
width:200px;
}
#phone{
height:20px;
width:200px;
}
#address{
height:20px;
width:200px;
}
.main-form{
/* 	display:flex; */
	width:300px;
	background-color:blue;
/* 	display-direction:column; */
/* 	justify-content:center; */
/* 	align-items:center; */
	
	
}
body{
		display:flex;
	height:100vh;
/* 	 	display-direction:column; */
	justify-content:center;
	align-items:center;
}
#checkbox{
	border-radius:50%;
	border:5px solid yellow;
}
#submit{
	border-radius:10px;
}
/* Your CSS Code here. */