#name{
height:20px;
width:200px;
}
#phone{
height:20px;
width:200px;
}
#address{
height:20px;
width:200px;
}
.main-form{
/* 	display:flex; */
	width:300px;
	background-color:blue;
/* 	display-direction:column; */
	align-items:center;
	
	
}
/* Your CSS Code here. */